* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #494949;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
  position: relative;
}

.error-message {
  background-color: #ff4c4c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(99, 98, 98, 0.75);
  margin-bottom: 45px;
  margin-top: -30px;
}

.login,
.index {
  background-color: #333333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(99, 98, 98, 0.75);
  color: white;
  transition: margin-top 0.3s ease;
}

.container.error-active .login {
  margin-top: -50px;
}

.quote {
  font-style: italic;
  font-size: 20px;
}

.quote span {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  font-style: normal;
  color: #757575;
}

.quote a {
  text-decoration: underline;
  color: rgba(30, 158, 243, 0.733);
}

.quote a:hover {
  color: rgb(51, 170, 250);
}

.index button,
.login button {
  display: flex;
  outline: 0;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 13px;
  background: #373737;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.index button:hover,
.login button:hover {
  border-color: #373737;
  background-color: #494949;
  color: #373737;
}

.index button:disabled,
.login button:disabled,
button[disabled] {
  background-color: #2e2e2e;
  color: #666;
}

.login h1 {
  text-align: center;
  margin-bottom: 2.5%;
}

.login input {
  background-color: #2f2f30;
  outline: 0;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 22px;
  border: 2px solid #2f2f30;
  width: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.login input:focus {
  border: 2px solid #3a3d41;
}

.login label {
  font-size: 18px;
}

@media (max-width: 600px) {

  .login,
  .index {
    margin: 50px auto;
    padding: 15px;
  }

  .login input {
    padding: 8px 15px;
  }

  .quote {
    font-size: 18px;
  }

  .quote span {
    font-size: 12px;
  }
}