---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/LogoutButton.astro";
import hasProfile from "@/utils/profile";

const cookie: string = `${Astro.cookies.get(import.meta.env.COOKIE_NAME || "_Security_Login_")?.value}`;
const username = hasProfile(cookie).username as string;
const d = hasProfile(cookie);

if (d.success === false) {
  return Astro.redirect("/login");
}
---

<Layout page="Home">
  <div class="index">
    <center>
      <h1>Welcome, {username}</h1>
      <br />
      <Button />
    </center>
    <div class="quote">
      <center>
        <span
          >by <a href="https://zastinian.com">Zastinian</a>, <a href="https://github.com/Zastinian/Astro-Login">Github Code</a>, <a
            href="https://twitter.com/Zastinian">Twitter</a
          >.</span
        >
      </center>
    </div>
  </div>
</Layout>
