---
import Layout from "@/layouts/LayoutLogin.astro";
import LoginForm from "@/components/LoginForm.astro";
---

<Layout>
  <div class="login">
    <h1>Login</h1>
    <LoginForm />
    <div class="quote">
      <center>
        <span>Email: user@example.com</span>
        <span>Password: 1234</span>
        <span
          >by <a href="https://zastinian.com">Zastinian</a>, <a href="https://github.com/Zastinian/Astro-Login">Github Code</a>, <a
            href="https://twitter.com/Zastinian">Twitter</a
          >.</span
        >
      </center>
    </div>
  </div>
</Layout>
