<form action="/api/login" accept-charset="UTF-8" method="POST">
  <div>
    <label for="email">Email:</label>
    <br />
    <input type="email" name="email" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <br />
    <input type="password" name="password" required />
  </div>
  <br />
  <button type="submit">Submit</button>
</form>
