<form action="/session" accept-charset="UTF-8" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
  </div>
  <br />
  <button type="submit">Sumbit</button>
</form>
